{% extends "account/base_manage.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Sign Out" %}
{% endblock head_title %}
{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="auth-card text-center p-4 p-md-5">
                {% element h1 class="h3 mb-3 fw-bold" %}
                    {% trans "Sign Out" %}
                {% endelement %}
                {% element p class="text-muted mb-4" %}
                    {% trans 'Are you sure you want to sign out?' %}
                {% endelement %}
                {% url 'account_logout' as action_url %}
                {% element form method="post" action=action_url no_visible_fields=True class="mt-3" %}
                    {% slot body %}
                        {% csrf_token %}
                        {{ redirect_field }}
                    {% endslot %}
                    {% slot actions %}
                        {% element button type="submit" class="btn btn-delete w-100 py-2" %}
                            {% trans 'Sign Out' %}
                        {% endelement %}
                    {% endslot %}
                {% endelement %}
                <div class="mt-3">
                    <a href="/" class="link">{% trans "Take me back" %}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
