asgiref==3.10.0
bleach==6.3.0
certifi==2025.11.12
charset-normalizer==3.4.4
cloudinary==1.44.1
crispy-bootstrap5==2025.6
dj-database-url==3.0.1
dj3-cloudinary-storage==0.0.6
Django==5.2.8
django-allauth==65.13.0
django-crispy-forms==2.5
django-summernote==0.8.20.0
gunicorn==23.0.0
idna==3.11
packaging==25.0
psycopg2-binary==2.9.11
requests==2.32.5
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0
webencodings==0.5.1
whitenoise==6.11.0
