.aboutus-heading {
    font-size: 2.5rem;
    font-weight: bold;
    align-self: flex-start;
}

.aboutus-images {
    spacebetween: 1rem;
    display: flex;
}

.aboutus-spacing {
    padding: 1rem;
}

.aboutus-text {
    font-size: 1.2rem;
    color: #4A4A4F;
    margin-top: 1rem;
}