{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} {% load cloudinary %} {% block content %}
<link rel="stylesheet" href="{% static 'css/about-us.css' %}">
<div class="container mt-5">
    <h2 id="aboutus-heading">About us:</h2>
    <breakpoint class="aboutus-spacing">
    <div class="row">
        <div class="col-12 col-md-4 text-center">
                <img src="{% static 'about-us/image/max.jpg' %}" class="profile-image" alt="placeholder image">
        </div>
        <div class="col-12 col-md-8">
            <p class="aboutus-text">Hi! I’m Max, a passionate aspiring Full Stack Developer with a diverse professional background in hospitality, retail, and aviation. I’m currently completing a 16-week High-Performance Full Stack Development Bootcamp with Code Institute, in partnership with Tech Industry Alliance Skillnet. I enjoy solving problems, learning new technologies, and collaborating on projects that challenge me to grow both technically and professionally.</p>
        </div>
        </div>
        </breakpoint>
        <breakpoint class="aboutus-spacing">
        <div class="row">
        <div class="col-12 col-md-4 text-center">
                <img src="{% static 'about-us/image/josh.png' %}" class="profile-image" alt="placeholder image">
        </div>
         <div class="col-12 col-md-8">
            <p class="aboutus-text center-text">I’m Josh — a full‑stack development student wrapping up an intensive 16‑week journey into coding and building web applications. Over the past few months, I’ve gained hands‑on experience with Python, Django, SQL, and front‑end technologies, while also learning how to manage projects using user stories, ERDs, and Agile practices.</p>
        </div>
        </div>
        </breakpoint>
        <breakpoint class="aboutus-spacing">
        <div class="row">
         <div class="col-12 col-md-4 text-center">
            <img src="{% static 'about-us/image/rhys.jpg' %}" class="profile-image" alt="placeholder image">
        </div>
         <div class="col-12 col-md-8">
            <p class="aboutus-text">Passionate Fullstack Web Developer with expertise in building dynamic, user-friendly applications from front-end design to back-end architecture. Skilled in modern frameworks like React and Django with a strong foundation in databases and cloud deployment. Adept at turning complex problems into elegant solutions, collaborating across teams, and delivering scalable products that enhance user experiences. Always eager to learn new technologies.</p>
        </div>
        </breakpoint>
        <breakpoint class="aboutus-spacing">
        <div class="row">
         <div class="col-12 col-md-4 text-center">
                <img src="{% static 'about-us/image/default.jpg' %}" class="profile-image" alt="placeholder image">
        </div>
         <div class="col-12 col-md-8">
            <p class="aboutus-text">Hi, I’m David, a Junior Full Stack Developer currently completing Code Institute’s intensive 16-week Full Stack Development course with AI Pair Programming. I have hands-on experience building responsive, data-driven web applications using modern front-end and back-end technologies.

Through this programme, I’ve developed strong problem-solving skills, practical experience with AI-assisted pair programming, and a passion for writing clean, maintainable code. I’m eager to continue learning and contribute to real-world development projects as a junior developer.</p>
        </div>
    </div>
    </breakpoint>
</div>
{% endblock content %}
